@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #e1e1e4; /* background */
  --clr-neutral-700: #313a45; /* sidebar */
  --clr-neutral-900: #222222; /* text */
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: var(--clr-neutral-200);
  color: var(--clr-neutral-900);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

.wrapper {
  display: grid;
  grid-template-columns: 350px 1fr;
  height: 100vh;
  transition: grid 200ms ease;
}

/* has() not enabled in firefox by default :( */

.wrapper:has(input:checked) {
  grid-template-columns: 50px 1fr;
}

.wrapper:has(input:checked) .doc-gal--filter,
.wrapper:has(input:checked) .doc-gal--items,
.wrapper:has(input:checked) .doc-gal--header h1 {
  display: none;
}

/* ! DOCUMENT GALLERY */
.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: 80px;
  height: 80%;
  cursor: pointer;
}

.burger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.burger-menu:has(input:focus-visible)::before,
.burger-menu:has(input:focus-visible)::after,
.burger-menu input:focus-visible {
  border: 1px solid red;
  box-shadow: 0 0 0 1px var(--clr-neutral-900);
}

.burger-menu::before,
.burger-menu::after,
.burger-menu input {
  content: "";
  width: 20px;
  height: 2px;
  background-color: var(--clr-neutral-100);
  border-radius: 9999px;
}

/* .burger-menu:has(input:focus-visible)::before,
.burger-menu:has(input:focus-visible)::after,
.burger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
} */

.doc-gal {
  background-color: var(--clr-neutral-700);
  color: var(--clr-neutral-100);
}

.doc-gal--header {
  display: flex;
  height: 80px;
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
}

.doc-gal--filter ul {
  display: flex;
  justify-content: space-evenly;
}

.doc-gal--filter a {
  color: var(--clr-neutral-200);
}

.doc-gal--items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doc-gal-item {
  flex-basis: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ! COMPONENT LAYOUT */
.components {
  height: 100vh;
}

.components header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: var(--clr-neutral-100);
}

.comp-layout {
  margin: 0 auto;
  max-width: 1400px;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 1rem;
}

.comp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-neutral-100);
  border-radius: 5px;
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
}

.comp-small {
  height: 4rem;
}

.comp-medium {
  height: 20rem;
}

#comp-create {
  grid-column: 1;
}
#comp-preview {
  grid-row: 2;
  grid-column: 1;
}
#comp-approval {
  grid-row: 3;
  grid-column: 1;
}
#comp-comments {
  grid-column: 2;
  grid-row: 1/4;
}
#comp-ooo {
  grid-column: 3;
}

/* ! MEDIA QUERIES */
@media (max-width: 900px) {
  .wrapper {
    grid-template-columns: 300px 1fr;
  }
  .comp-layout {
    grid-template-columns: 1fr 1fr;
  }

  #comp-ooo {
    grid-row: 1;
    grid-column: 2;
  }

  #comp-comments {
    grid-row: 2/4;
  }
}
